@using Epam.Task11.UsersAndAwards.Common;
@using Epam.Task11.UsersAndAwards.ConsolePL;

@if (IsPost)
{
    var user = Request["UserName"];
    var password = Request["Password"];

    if (user == "SuperUser" && password == "SuperUser")
    {
        FormsAuthentication.SetAuthCookie(user, createPersistentCookie: true);
    }
    else
    {
        var _siteUser = DependencyResolver.SiteUserLogic;
        var siteUser = Program.GetBySiteUserName(_siteUser, user);
        if(siteUser!=null && siteUser.Name == user && siteUser.Password == password)
        {
            FormsAuthentication.SetAuthCookie(user, createPersistentCookie: true);
            Response.Redirect("~");
            return;
        }
        //    PageData["Errors"] = "User name or password is wrong.";

        Response.Redirect("~/Login");
        return;
    }
    Response.Redirect("~");
    return;
}

@*@if(PageData["Errors"] != null)
    {
        <p>PageData["Errors"]</p>;
    }*@
<form action="~/Login.cshtml" method="post">
    <label for="UserName">User name</label>
    <input type="text" id="UserName" name="UserName" />
    <label for="Password">Password</label>
    <input type="password" id="Password" name="Password" />
    <button type="submit">Log In</button>
</form>